@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: lightcyan;
}

.paste{
    position: absolute;
    top: 50%;
    left: 90px;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    color: darkcyan;
    font-size: 30px;
    cursor: pointer;
    transition: transform 0.7s ease;
    border: 2px solid darkcyan;
    padding: 10px;
    transition: transform 0.7s ease, coloe ease, border-color 0.3s ease;
    text-align: center;
    width: 120px;
    height: 50px;
    border-radius: 3px;
}

.paste:hover {
    color: rgb(0, 50, 50);
    border-color: rgb(0,50,50);
    transform: translateY(-50%) scale(1.1); /* Slightly larger on hover */
}

.paste .paste-text{
    font-size: 12px;
    color: darkcyan;
    margin-top: 8px;
    margin-left: 5px;
}

.paste:hover .paste-text{
    color: black;
}


.text-input{
    position: relative;
    left: 10px;
}

.from-text{
    padding-left: 50px;
}

.container{
    max-width: 690px;
    width: 100%;
    background: #fff;
    border-radius: 7px;
    padding: 30px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.01);
}

.wrapper{
    border-radius: 5px;
    border: 1px solid #ccc;
}

.wrapper .text-input{
    display: flex;
    border-bottom: 1px solid #ccc;
}

.text-input .to-text{
    border-radius:0px ;
    border-left: 1px solid #bbb;
}

.text-input textarea{
    height: 250px;
    width: 100%;
    border:none ;
    outline: none;
    font-size: 18px;
    background: none;
    border-radius: 5px;
    padding: 10px 15px;
    resize: none;
}

.text-input textarea::placeholder{
    color: #b7b6b6;
}

.controls, li, .icons, .icons i{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: darkcyan;
}

.controls{
    list-style: none;
    padding: 12px 15px;
}

.controls .row .icons{
    width: 38% ;
}

.controls .row .icons i{
    width: 50px;
    color: #adadad;
    font-size: 14px;
    cursor: pointer;
    transition: transform 0.2s ease;
    justify-content: center;
}

.controls .row.from .icons{
    padding-right: 15px;
    border-right: 1px solid #ccc;
}

.controls .row.to .icons{
    padding-left: 15px;
    border-left: 1px solid #ccc;
}

.controls .row select{
    color: #333;
    border: none;
    outline: none;
    font-size: 18px;
    background: none;
    padding-left: 5px;
}

.text-input textarea::-webkit-scrollbar{
    width: 4px;
}

.controls .row select::-webkit-scrollbar{
    width: 8px;
}

.controls i:active{
    transform: scale(0.9);
}

.container button{
    width: 100%;
    padding: 14px;
    outline: none;
    border: none;
    color: #fff;
    cursor: pointer;
    margin-top: 20px;
    font-size: 17px;
    border-radius: 5px;
    background: darkcyan;
}